html {
  color: #323232;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

body {
  background-color: #f1f1f1;
}

a {
  color: #323232;
}

main {
  margin: 0 auto;
  padding: 1rem;
  max-width: 640px;
}

section {
  margin-bottom: 2rem;
}

#title {
  margin: 2rem auto;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.section-title {
  margin-bottom: 1rem;
  padding-bottom: .25rem;
  font-size: 1.35rem;
  font-weight: bold;
  border-bottom: solid 1px #e0e0e0;
}

.section-list-item {
  padding: .25rem 0;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}